.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  margin: 30px 40px;
}

.Main-page {
  color: white;
  width: 50%;
  margin-left: 5%;
}

.Main-page > h1 {
  font-size: 5em;
}

.Main-page > p {
  width: 50%;
  font-size: 2em;
  font-weight: lighter;
}

.Main-page > button {
  padding: 25px 45px;
  border-radius: 10px;
  font-size: 1.4rem;
}
